[Unit]
Description=Python clock service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/pi-python-clock/pi-clock.py
[Install]
WantedBy=multi-user.target
